<%- include('partials/header.ejs'); %>

    <h1>Olá! a aplicação parece estar funcionando! :D </h1>
    <p>Bora começar mais um projeto?</p>
    <p><%= texto %></p>
    
<%- include('partials/footer.ejs'); %>